<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Metal+Mania"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../style.css" />
        <title>About Music</title>
    </head>
    <body>

            <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/text">Write Something</a>
                            </li>
                    </ul>
                </nav>

        <h1>Finnish Metal</h1>

        <div class="text-box">
                <p>
                    Why are Finnish heavy metal bands so popular around the world? It originates in the
                    music’s complexity and rich emotional content. If you cast your mind back to 2006,
                    Finland’s first Eurovision success occurred when the monster-masked heavy metal
                    five-piece Lordi took the Eurovision Song Contest by storm, despite the competition’s
                    well-deserved reputation as the epitome of cheesy, bubblegum pop music. Finland is
                    renowned for its heavy metal exports well beyond Eurovision: Nightwish, HIM,
                    Insomnium, Children of Bodom, Amorphis and many other Finnish artists are cherished
                    by metal communities around the globe. Nightwish have sold more than eight million
                    records worldwide – a huge achievement for a band in a genre that struggles to get
                    mainstream media coverage. This phenomenon has existed for years but the question
                    remains: How can Finnish metal bands inspire such popularity abroad?
                  
           
                </p>
                <h2>something</h2>
                <p>By definition, heavy metal fans crave music from outside the mainstream. They champion material that boldly stands out against the normality of pop. Perhaps this is the main reason why Finnish metal is adored abroad.

                        Finnish metal features incredibly complicated song structures. From Children of Bodom’s intricate yet mesmerising guitar solos to Apocalyptica’s dedication to the use of cellos instead of guitars, and even Nightwish’s drive for telling tales of fantasy, Finland’s musical exports have qualities that set them apart in the heavy metal world.
                        
                        David Creamer, a 19-year-old metal fanatic from Manchester, England, puts his love for Finnish metal down to the songs’ structural complexity. “When I talk about musical complexity in relation to Finland’s metal musicians, I don’t so much mean the technical aspects of their writing, although there are many Finnish metal acts like Wintersun that do push their musical talents hard,” he says. “But more than that, there is a striking diversity in the styles of metal that hail from Finland. Thinking about this complexity, Finnish bands have a seemingly endless capacity to cater for fans who like to listen to a variety of metal.”
                        
                        The existence of so much variety in both the song-writing and the complexity of the musical approach makes the music enjoyable to fans all over the globe.</p>

                        <a href="https://finland.fi/arts-culture/now-trending-globally-finnish-metal-music/"
                        >Source thisisfinland</a>
                        

    </body>
</html>
